<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<title>Common Debian Build System Gallery</title>
	<link rel="stylesheet" title="CDBS stylesheet" href="cdbs.css" type="text/css" media="screen" />
</head>

<body>
	
<h1><a href="index.html" title="Main page">Jump to the main page</a> Online CDBS Gallery</h1>

<div id="bar">
	<ul>
		<li><a href="_code.html">[How it Works]</a></li>
		<li><a href="_faq.html">[Gallery FAQ]</a></li>
		<li><a href="https://perso.duckcorp.org/duck/cdbs-doc/">[Documentation]</a></li>
		<li><a href="https://twitter.com/caio1982">[Let's talk]</a></li>
	</ul>
</div>

<div id="body">
	<h2>Source code</h2>

	<p>The shell script and the resources files are available in my personal Github repository
	and you can fetch them by running the following command:</p>

	<p id="center"><a href="https://github.com/caio1982/CDBS-gallery">git clone https://github.com/caio1982/CDBS-gallery.git/</a></p>

	<p>The poor documentation inside the script can guide you through the steps necessary to "mirror"
	this online gallery. If you only want to check how it does look like, just click on the
	link above and browse the online tree.</p>

	<p>Any question or doubts you may have concerning the source code, please take a look at the FAQ
	first. A lot of questions already were answered there :-)</p>

	<p>--<br />caio1982</p>
</div>

</body>
</html>
