<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<title>Common Debian Build System Gallery</title>
	<link rel="stylesheet" title="CDBS stylesheet" href="cdbs.css" type="text/css" media="screen" />
</head>

<body>
	
<h1><a href="index.html" title="Main page">Jump to the main page</a> Online CDBS Gallery</h1>

<div id="bar">
	<ul>
		<li><a href="_code.html">[How it Works]</a></li>
		<li><a href="_faq.html">[Gallery FAQ]</a></li>
		<li><a href="https://perso.duckcorp.org/duck/cdbs-doc/">[Documentation]</a></li>
		<li><a href="_contact.html">[Contact Form]</a></li>
	</ul>
</div>

<div id="body">
	<h2>Send your comments</h2>

	<p>
		<form action="http://formmail.dreamhost.com/cgi-bin/formmail.cgi" method="POST">

			<input type=hidden name="print_blank_fields" value="1">
			<input type=hidden name="env_report" value="HTTP_USER_AGENT">
			<input type=hidden name="redirect" value="http://cdbs.ueberalles.net/_thankyou.html">
			<input type=hidden name="recipient" value="caio@ueberalles.net">
			<input type=hidden name="required" value="email,comments,subject">

			Subject (please don't remove the prefix):<br>
			<input type=text name="subject" size="44" value="[CDBS]"><br><br>

			E-mail (so I can reply your message):<br>
			<input type=text name="email" size="44"><br><br>

			Your Name (it's okay to not identify yourself):<br>
			<input type=text name="realname" size="44"><br><br>

			Message (short ones will get fast answers):<br>
			<textarea name="comments" cols="42" wrap="virtual"></textarea><br><br>

			<input id="button" type=submit value="OK">
		</form>
	</p>
</div>

</body>
</html>
