<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<title>Common Debian Build System Gallery</title>
	<link rel="stylesheet" title="CDBS stylesheet" href="cdbs.css" type="text/css" media="screen" />
</head>

<body>
	
<h1><a href="index.html" title="Main page">Jump to the main page</a> Online CDBS Gallery</h1>

<div id="bar">
	<ul>
		<li><a href="_code.html">[How it Works]</a></li>
		<li><a href="_faq.html">[Gallery FAQ]</a></li>
		<li><a href="https://perso.duckcorp.org/duck/cdbs-doc/">[Documentation]</a></li>
		<li><a href="https://twitter.com/caio1982">[Let's talk]</a></li>
	</ul>
</div>

<div id="body">
	<h2>Packages sorted by letter:</h2>

	<p id="list">
	<a href="_list.a.html">A</a>,
	<a href="_list.b.html">B</a>,
	<a href="_list.c.html">C</a>,
	<a href="_list.d.html">D</a>,
	<a href="_list.e.html">E</a>,
	<a href="_list.f.html">F</a>,
	<a href="_list.g.html">G</a>,
	<a href="_list.h.html">H</a>,
	<a href="_list.i.html">I</a>,
	<a href="_list.j.html">J</a>,
	<a href="_list.k.html">K</a>,
	<a href="_list.l.html">L</a>,
	<a href="_list.m.html">M</a>,
	<a href="_list.n.html">N</a>,
	<a href="_list.o.html">O</a>,
	<a href="_list.p.html">P</a>,
	<a href="_list.q.html">Q</a>,
	<a href="_list.r.html">R</a>,
	<a href="_list.s.html">S</a>,
	<a href="_list.t.html">T</a>,
	<a href="_list.u.html">U</a>,
	<a href="_list.v.html">V</a>,
	<a href="_list.x.html">X</a>,
	<a href="_list.z.html">Z</a>,
	<a href="_list.y.html">Y</a>,
	<a href="_list.w.html">W</a>,
	<a href="_list.[0-9].html">[0-9]</a>
	</p>

	<br />

	<h2>Sorted by the rules used:</h2>
	
	<p id="sorting">
	INCLUDES_LIST
	</p>
</div>

</body>
</html>
