<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<title>CURRENT_SOURCE debian/rules</title>
	<link rel="stylesheet" title="CDBS stylesheet" href="cdbs.css" type="text/css" media="screen" />
</head>

<body>

<img src="debian.png" alt="debian swirl logo" />
<h1><a href="_list.html" title="Returns to the packages list">Back to the packages list</a> CURRENT_SOURCE</h1>

<div id="bar">
	<ul>
		<li><a href="_code.html">[How it Works]</a></li>
		<li><a href="_faq.html">[Gallery FAQ]</a></li>
		<li><a href="https://perso.duckcorp.org/duck/cdbs-doc/">[Documentation]</a></li>
		<li><a href="https://twitter.com/caio1982">[Let's talk]</a></li>
	</ul>
</div>

<div id="rules">
<pre>
CURRENT_RULES
</pre>
</div>

<div id="details">
<h2>It builds:</h2>

CURRENT_BUILD_LIST

</div>

</body>
</html>
